extends ../../layouts/default

block content
	.section.section-profile-form
		.container
			form(method='post', autocomplete='off').profile-form
				input(type='hidden', name='action', value='profile.top')
				if user && user.canAccessKeystone
					a(href='/keystone', target='_blank').btn.btn-xs.btn-success.pull-right Open the Keystone Admin UI
				h4.profile-form__heading Your Profile
				.form-group
					.row
						.col-50: input(type='text', name='name.first' value=user.name.first).input.input-xl.input-faded
						.col-50: input(type='text', name='name.last' value=user.name.last).input.input-xl.input-faded
				.row
					.col-50
						.form-group
							label.input-label Email
							input(type='email', name='email' value=user.email).input.input-labelled.input-faded
					.col-50
						.form-group
							label.input-label Website
							input(type='text', name='website' value=user.website).input.input-labelled.input-faded
				.row
					.col-50
						.form-group
							label.input-label Twitter
							input(type='text', name='twitter' value=user.twitter).input.input-labelled.input-faded
					.col-50
						.form-group
							label.input-label Github
							input(type='text', name='github' value=user.github).input.input-labelled.input-faded
				.row
					.col-50
						.form-group
							button(type='submit', data-loading-text="Saving...").btn.btn-primary Save profile
					.col-50
						.form-group.pull-right
							a(href='/me/create/post', style='margin-right: 10px;').btn.btn-warning
								span.entypo.entypo-pencil
								|   Create a blog post
							a(href='/me/create/link').btn.btn-warning
								span.entypo.entypo-link
								|   Add a link 
				
	//- NEXT MEETUP
	.section.section-next-meetup
		.container
			.row
				.col-66.col-md-7
					if meetups.next
						#next-meetup(data-id=meetups.next.id)
							.meetup-calendar.calendar
								.calendar__header=meetups.next._.date.format('MMM')
								.calendar__body
									.calendar__date=meetups.next._.date.format('DD')
									.calendar__year=meetups.next._.date.format('YYYY')
							.meetup-content
								.text-muted=meetups.next._.date.format('dddd D MMM YYYY')
									if meetups.next.time
										|  from #{meetups.next.time}
								h2.mt-0=meetups.next.name
								//- h4=meetups.next.name
								p!=meetups.next.description
								if meetups.next.rsvpsAvailable || meetups.nextRSVP
									p.btn-group.btn-group-justified.meetup-status
										label.btn.btn-default.js-rsvp-checking.disabled
											|  Checking...
									p.btn-group.btn-group-justified.meetup-toggle(data-toggle='buttons', style='display: none;')
										label.btn.btn-default.js-rsvp-attending
											|  Attending
										label.btn.btn-default.js-rsvp-decline
											|  Not Attending
								else
									.alert.alert-warning
										strong Sold out
										|  - Damn son, better luck next time!
					else
						h2.mt-0 No upcoming meetups...
						p Follow us on Twitter to find out when we anounce the next meetup
						p: a(href="https://twitter.com/hshackersphilly", class="twitter-follow-button", data-show-count="true") Follow @hshackersphilly

				if rsvps.history.length
					.col-33.col-md-push-1
						h4.mt-0 You've been to...
						ul
							each attendedMU in rsvps.history
								li=attendedMU.meetup.name
	
	
	//- PUBLIC INFO FORM
	.section.section-public-form
		.container
			h2.mt-0 Your profile
			.row
				.col-66.col-md-7
					form(method='post', enctype='multipart/form-data', autocomplete='off', novalidate).form-horizontal
						input(type='hidden', name='action', value='profile.bottom')
						h3.mt-0 Public info
						.form-group.row
							.col-85.col-sm-offset-2
								label.checkbox
									input(type='checkbox', name='isPublic', value='true', checked=user.isPublic ? 'true' : null)
									|  Show my profile on the HS Hackers website
						.form-group.row
							label.col-15.control-label Bio
								br
								.text-muted (markdown)
							.col-85
								textarea(name='bio', rows=5).form-control=user.bio.md
						
						.form-group.row
							label.col-15.control-label Photo
							.col-85
								if user.photo.exists
									.row
										.col-25: img(src=user._.photo.thumbnail(120,120)).img-responsive
										.col-75: input(type='file', name='photo_upload')
								else
									input(type='file', name='photo_upload')
						.form-group.row
							label.col-15.control-label Mentoring
							.col-85
								label.checkbox
									input(type='checkbox', name='mentoring.available', value='true', checked=user.mentoring.available)
									|  Available as a mentor
								label.checkbox
									input(type='checkbox', name='mentoring.free', value='true', checked=user.mentoring.free)
									|  For Free
								label.checkbox
									input(type='checkbox', name='mentoring.paid', value='true', checked=user.mentoring.paid)
									|  For Payment
								label.checkbox
									input(type='checkbox', name='mentoring.swap', value='true', checked=user.mentoring.swap)
									|  For Swap
						.form-group.row
							label.col-15.control-label I have...
							.col-85
								input(type='text', name='mentoring.have', placeholder='', value=user.mentoring.have).form-control
						.form-group.row
							label.col-15.control-label I want...
							.col-85
								input(type='text', name='mentoring.want', placeholder='', value= user.mentoring.want).form-control
						.form-group.row
							.col-85.col-sm-offset-2
								button(type='submit', data-loading-text="Saving...").btn.btn-primary Save profile
				.col-33.col-md-push-1
					form(method='post', autocomplete='off')
						input(type='hidden', name='action', value='profile.password')
						h3.mt-0 Change password
						//-
							.form-group.row
								label(for='change-password').sr-only Current Password
								input(type='password', name='currentPassword', placeholder='Password', id='change-password').form-control
						.form-group.row
							label(for='change-passwordNew').sr-only New Password
							input(type='password', name='password', placeholder='New Password', id='change-passwordNew').form-control
						.form-group.row
							label(for='change-passwordConfirm').sr-only Confirm Password
							input(type='password', name='password_confirm', placeholder='Confirm Password', id='signin-passwordConfirm').form-control
						.form-group.row
							button(type='submit', data-loading-text="Changing...").btn.btn-primary Change
	
	//- CHIPOTLE
	.section.section-chipotle-form
		.container
			h2.mt-0 Chipotle (Coming Soon)
			p We will provide chipotle at a majority of our meetups. Help make our lives easier by indicating your prefrences below.
			.row
				.col-66.col-md-7
					form(method='post', enctype='multipart/form-data', autocomplete='off', novalidate).form-horizontal
						input(type='hidden', name='action', value='profile.chipotle')
						.form-group.row
							label.col-15.control-label Type
							.col-85
								select(name='type' selected=user.type disabled)
									option(value='burrito') Burrito
									option(value='burrito bowl') Burrito Bowl
									option(value='salad bowl') Salad Bowl
									option(value='crispy tacos') Crispy Tacos
									option(value='soft tacos') Soft Tacos
									option(value='taco kit') Taco Kit
									option(value='quesadilla') Quesadilla
						.form-group.row
							label.col-15.control-label Meat
							.col-85
								select(name='meat' selected=user.meat disabled)
									option(value='no meat') No Meat
									option(value='chicken') Chicken
									option(value='steak') Steak
									option(value='carnitas') Carnitas
									option(value='barbacoa') Barbacoa
									option(value='veggie') Veggie
						.form-group.row
							label.col-15.control-label Beans
							.col-85
								select(name='beans' selected=user.beans disabled)
									option(value='no beans') No Beans
									option(value='black beans') Black Beans
									option(value='pinto beans') Pinto Beans
						.form-group.row
							label.col-15.control-label Rice
							.col-85
								select(name='rice' selected=user.rice disabled)
									option(value='no rice') No Rice
									option(value='white rice') White Rice
									option(value='brown rice') Brown Rice
						.form-group.row
							label.col-15.control-label Salsa
							.col-85
								select(name='salsa' selected=user.salsa disabled)
									option(value='no salsa') No Salsa
									option(value='mild tomatoes') Mild Tomatoes
									option(value='medium verde') Medium Verde
									option(value='hot sauce') Hot Sauce
						.form-group.row
							label.col-15.control-label Cheese
							.col-85
								input(type='checkbox', name='cheese', value='true', checked=user.cheese ? 'true' : null disabled)
						.form-group.row
							label.col-15.control-label Corn
							.col-85
								input(type='checkbox', name='corn', value='true', checked=user.corn ? 'true' : null disabled)
						.form-group.row
							label.col-15.control-label Lettuce
							.col-85
								input(type='checkbox', name='lettuce', value='true', checked=user.lettuce ? 'true' : null disabled)
						.form-group.row
							label.col-15.control-label Sour Cream
							.col-85
								input(type='checkbox', name='sourcream', value='true', checked=user.sourcream ? 'true' : null disabled)
						.form-group.row
							label.col-15.control-label Guacamole
							.col-85
								input(type='checkbox', name='guacamole', value='true', checked=user.guacamole ? 'true' : null disabled)
						.form-group.row
							label.col-15.control-label Chips
							.col-85
								input(type='checkbox', name='chips', value='true', checked=user.chips ? 'true' : null disabled)
						.form-group.row
							label.col-15.control-label Notes
							.col-85
								textarea(name='notes', rows=5 disabled).form-control=user.notes.md
						.form-group.row
							.col-85.col-sm-offset-2
								button(type='submit', data-loading-text="Saving...").btn.btn-primary Save profile

block js
	script(src='/js/lib/bootstrap/button.js')
	script(src='/js/views/me.js')
