extends ../../layouts/default

block intro

block flash-messages

block content
	.container-sm
		.page-intro
			p.lead Hi #{user.name.first}, these are your settings and 
				a(href=user.url) profile details
			//- if nextMeetup
				.alert.alert-info 
					span.entypo.entypo-calendar
					|  The next meetup has been announced - 
					a(href=nextMeetup.url).alert-link= nextMeetup._.startDate.format('dddd D MMM YYYY')
		.page-content.tile.ph-2.pv-2.mb-2
			+flash-messages(messages)
			form(method='post', enctype='multipart/form-data', autocomplete='off', novalidate).form-horizontal
				input(type='hidden', name='action', value='profile.details')
				h3 Private Info
				.form-group
					label.col-sm-2.control-label Name
					.col-sm-10: .form-row
						.col-xs-6: input(type='text', name='name.first' value=user.name.first).form-control
						.col-xs-6: input(type='text', name='name.last' value=user.name.last).form-control
				.form-group
					label.col-sm-2.control-label Email
					.col-sm-10: input(type='email', name='email' value=user.email).form-control
				.form-group
					strong.col-sm-2.control-label Notify me
					.col-sm-10
						.checkbox: label
							input(type='checkbox', name='notifications.meetups' value='true' checked=user.notifications.meetups)
							|  When there is a new meetup
						.checkbox: label
							input(type='checkbox', name='notifications.posts' value='true' checked=user.notifications.posts)
							|  When there is a new post
				hr.mv-2
				h3 Your Services
				p.help-block.mb-2 You can authenticate yourself on the HS Hackers website with any of the services you connect. When connected, links to your Twitter and Github will be displayed on your profile.
				
				
				//- Unconfigured Services
				
				if !user.services.github.isConfigured
					.form-group
						label.col-sm-2.control-label Github
						.col-sm-10
							a(href='/auth/github', title='Connect your Github account').btn.btn-github
								span.entypo-social.entypo-github
								|  Connect your Github account
				if !user.services.twitter.isConfigured
					.form-group
						label.col-sm-2.control-label Twitter
						.col-sm-10
							a(href='/auth/twitter', title='Connect your Twitter account').btn.btn-twitter
								span.entypo-social.entypo-twitter
								|  Connect your Twitter account
				if !user.services.google.isConfigured
					.form-group
						label.col-sm-2.control-label Google
						.col-sm-10
							a(href='/auth/google', title='Connect your Google account').btn.btn-google
								span.entypo-social.entypo-google-circles
								|  Connect your Google account
				if !user.services.facebook.isConfigured
					.form-group
						label.col-sm-2.control-label Facebook
						.col-sm-10
							a(href='/auth/facebook', title='Connect your Google account').btn.btn-facebook
								span.entypo-social.entypo-facebook
								|  Connect your Facebook account
				
				
				//- Configured Services
				
				if user.services.github.isConfigured || user.services.twitter.isConfigured || user.services.google.isConfigured || user.services.facebook.isConfigured
					hr.line-dashed
				if user.services.github.isConfigured
					.form-group
						label.col-sm-2.control-label Github
						.col-sm-10.text-muted.faux-label
							span.entypo-social.entypo-github
							|  Your account is connected. 
							a(href='?disconnect=github', title='Revoke authorization of your Github account') Disconnect
				if user.services.twitter.isConfigured
					.form-group
						label.col-sm-2.control-label Twitter
						.col-sm-10.text-muted.faux-label
							span.entypo-social.entypo-twitter
							|  Your account is connected. 
							a(href='?disconnect=twitter', title='Revoke authorization of your Twitter account') Disconnect
				if user.services.google.isConfigured
					.form-group
						label.col-sm-2.control-label Google
						.col-sm-10.text-muted.faux-label
							span.entypo-social.entypo-google-circles
							|  Your account is connected. 
							a(href='?disconnect=google', title='Revoke authorization of your Google account') Disconnect
				if user.services.facebook.isConfigured
					.form-group
						label.col-sm-2.control-label Facebook
						.col-sm-10.text-muted.faux-label
							span.entypo-social.entypo-facebook
							|  Your account is connected. 
							a(href='?disconnect=facebook', title='Revoke authorization of your Facebook account') Disconnect
				

				//- Public Info
				
				hr.mv-2
				h3 Public Info
				.form-group
					label.col-sm-2 Public
					.col-sm-10
						label.checkbox-inline
							input(type='checkbox', name='isPublic', value='true', checked=user.isPublic ? 'true' : null)
							|  Show my profile on the HS Hackers website
				.form-group
					label.col-sm-2.control-label Bio
						br
						.text-muted (markdown)
					.col-sm-10
						textarea(name='bio', rows=5).form-control=user.bio.md
				.form-group
					label.col-sm-2.control-label Website
					.col-sm-10: input(type='text', placeholder='http://...', name='website' value=user.website).form-control
				.form-group
					label.col-sm-2.control-label HackerBracket
					.col-sm-10: input(type='text', placeholder='http://hackerbracket.com/...', name='hackerbracket' value=user.hackerbracket).form-control
				.form-group
					label.col-sm-2.control-label School
					.col-sm-10: input(type='text', placeholder='Cheesesteak Jawn HS', name='school' value=user.school).form-control

				.form-group
					label.col-sm-2.control-label Photo
					.col-sm-10
						if user.photo.exists
							.row
								.col-sm-3: img(src=user._.photo.thumbnail(120,120)).img-responsive
								.col-sm-9: input(type='file', name='photo_upload')
						else
							input(type='file', name='photo_upload')


				//- Public Info
				
				hr.mv-2#mentoring
				h3 Mentoring
				p Interested in being a mentor? Fill in your profile below and ping Victor Lourng or contact meetup@victorlourng.com to have your profile added to the directory.

				.form-group
					label.col-sm-2.control-label Mentoring
					.col-sm-10
						label 
						//- .checkbox: label
							input(type='checkbox', name='mentoring.available', value='true', checked=user.mentoring.available)
							|  Available as a mentor
				.mentoring-fields
					.form-group
						.col-sm-10.col-sm-offset-2
							.checkbox: label
								input(type='checkbox', name='mentoring.free', value='true', checked=user.mentoring.free)
								|  For Free
							.checkbox: label
								input(type='checkbox', name='mentoring.paid', value='true', checked=user.mentoring.paid)
								|  For Payment
							.checkbox: label
								input(type='checkbox', name='mentoring.swap', value='true', checked=user.mentoring.swap)
								|  For Swap
					.form-group
						label.col-sm-2.control-label I have...
						.col-sm-10
							input(type='text', name='mentoring.have', placeholder='eg; Ruby, Python', value=user.mentoring.have).form-control
					.form-group
						label.col-sm-2.control-label I want...
						.col-sm-10
							input(type='text', name='mentoring.want', placeholder='eg; HTML, CSS', value= user.mentoring.want).form-control

				
				//- Chipotle
				
				hr.mv-2
				h3 Chipotle Preferences
				p.help-block.mb-2 We will offer free Chipotle at some meetups because it's the best thing in the world! :D
				.form-group
					label.col-sm-2 Type
					.col-sm-10
						select(name='type' selected=user.type)
							option(value='burrito') Burrito
							option(value='burrito bowl') Burrito Bowl
							option(value='salad bowl') Salad Bowl
							option(value='crispy tacos') Crispy Tacos
							option(value='soft tacos') Soft Tacos
							option(value='taco kit') Taco Kit
							option(value='quesadilla') Quesadilla
				.form-group
					label.col-sm-2 Meat
					.col-sm-10
						select(name='meat' selected=user.meat)
							option(value='no meat') No Meat
							option(value='chicken') Chicken
							option(value='steak') Steak
							option(value='carnitas') Carnitas
							option(value='barbacoa') Barbacoa
							option(value='veggie') Veggie
							option(value='sofritas') Sofritas
				.form-group
					label.col-sm-2 Beans
					.col-sm-10
						select(name='beans' selected=user.beans)
							option(value='no beans') No Beans
							option(value='black beans') Black Beans
							option(value='pinto beans') Pinto Beans
				.form-group
					label.col-sm-2 Rice
					.col-sm-10
						select(name='rice' selected=user.rice)
							option(value='no rice') No Rice
							option(value='white rice') White Rice
							option(value='brown rice') Brown Rice
				.form-group
					label.col-sm-2 Salsa
					.col-sm-10
						select(name='salsa' selected=user.salsa)
							option(value='no salsa') No Salsa
							option(value='mild tomatoes') Mild Tomatoes
							option(value='medium verde') Medium Verde
							option(value='hot sauce') Hot Sauce
				.form-group
					label.col-sm-2 Cheese
					.col-sm-10
						input(type='checkbox', name='cheese', value='true', checked=user.cheese ? 'true' : null)
				.form-group
					label.col-sm-2 Corn
					.col-sm-10
						input(type='checkbox', name='corn', value='true', checked=user.corn ? 'true' : null)
				.form-group
					label.col-sm-2 Lettuce
					.col-sm-10
						input(type='checkbox', name='lettuce', value='true', checked=user.lettuce ? 'true' : null)
				.form-group
					label.col-sm-2 Sour Cream
					.col-sm-10
						input(type='checkbox', name='sourcream', value='true', checked=user.sourcream ? 'true' : null)
				.form-group
					label.col-sm-2 Guacamole
					.col-sm-10
						input(type='checkbox', name='guacamole', value='true', checked=user.guacamole ? 'true' : null)
				.form-group
					label.col-sm-2 Chips
					.col-sm-10
						input(type='checkbox', name='chips', value='true', checked=user.chips ? 'true' : null)
				.form-group
					label.col-sm-2 Notes
					.col-sm-10
						textarea(name='notes', rows=5).form-control=user.notes.md
						
				hr.mv-2
				button(type='submit', data-loading-text="Saving...").btn.btn-primary Save profile
						
		.ui-reveal
			.ui-reveal__initial
				button(type='button').btn.btn-link.ui-reveal__trigger Change Password
			.ui-reveal__hidden
				form(method='post', autocomplete='off')
					input(type='hidden', name='action', value='profile.password')
					h3 Change password
					.form-group
						label(for='change-passwordNew').sr-only New Password
						input(type='password', name='password', placeholder='New Password', id='change-passwordNew').form-control
					.form-group
						label(for='change-passwordConfirm').sr-only Confirm Password
						input(type='password', name='password_confirm', placeholder='Confirm Password', id='signin-passwordConfirm').form-control
					.form-group
						button(type='submit', data-loading-text="Changing...").btn.btn-primary Change
							
block js
	script(src='/js/views/me.js')
	script.
		$("[name=type]").val('#{user.type}');
		$("[name=meat]").val('#{user.meat}');
		$("[name=beans]").val('#{user.beans}');
		$("[name=rice]").val('#{user.rice}');
		$("[name=salsa]").val('#{user.salsa}');
